/* Coolors Exported Palette - coolors.co/5375a8-dbb5a4-54719a-86a3d2-bb7d63 */

/* HSL */
$color1: hsla(216%, 34%, 49%, 1);
$color2: hsla(19%, 43%, 75%, 1);
$color3: hsla(215%, 29%, 47%, 1);
$color4: hsla(217%, 46%, 67%, 1);
$color5: hsla(18%, 39%, 56%, 1);

/* RGB */
$color1: rgba(83, 117, 168, 1);
$color2: rgba(219, 181, 164, 1);
$color3: rgba(84, 113, 154, 1);
$color4: rgba(134, 163, 210, 1);
$color5: rgba(187, 125, 99, 1);